.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 10px 10px;
    margin-right: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 50px;
    line-height: 1.33;
}





